.pop-img {
	position: fixed;
	z-index: 10000;
	margin-top: 200px;
	height: 200px;
	width: 100%;
}

.noPopImg {
	background-color: rgba(82, 119, 188, 0.659);
}

.popImg {
	width: 100%;
}

.popImg img {
	width: 700px;
}

.certificate {
	width: 21cm;
	height: 29.7cm;
	margin: 0 auto;
	padding: 70px;
	border: 1px solid #000;
}

.certificate * {
	font-family: "Times New Roman", Times, serif;
}

.mdata {
	margin: 0px;
}
